.container {
    justify-content: center;
    align-items: center;
    
}

.food_div {
    justify-content: center;
    padding: 60px;
}

.circular_food_img_div {
    
    max-width: 100%;
    max-height: 100%;
    margin: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 5px solid #4d29a7;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.circular_food_img_div img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}